* {
    font-family: Roboto, serif;
}

body {
    padding: 0;
    margin: 0;
    background: #e3e3e3;
}

#container {
    display: grid;
    grid-template-columns: 1fr 2.5fr 1fr;
    grid-template-rows: 1fr 5fr;
    height: 100vh;
}

#sidebar {
    background-color: #079aff;
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 3fr 6fr;
    gap: 20px;
    color: white;
    font-size: 24px;
    padding: 5px
}

ul {
    display: flex;
    flex-direction: column;
    /*gap: 15px;*/
}

li {
    list-style: none;
}

button {
    cursor: pointer;
}

.blue-button {
    background-color: #079aff;
    color: white;
    width: 7rem;
    height: 3rem;
    -webkit-border-radius: 40px 40px 40px 40px;
    -moz-border-radius: 40px 40px 40px 40px;
    border-radius: 40px 40px 40px 40px;
}

#upper {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 1fr;
    background-color: white;
    grid-column: 2 / 4;
    grid-row: 1 / 2;
}

#welcome {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

#buttons {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    display: flex;
    gap: 30px;
}

input {
    height: 2rem;
    padding-right: 0.5rem;
    width: 70%;
    justify-self: start;
    align-self: center;
    border-radius: 10px;
    background-color: #e3e3e3;
}

#projects-container {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    padding-left: 30px;
}

#projects {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-template-rows: 1fr 1fr 1fr;
    gap: 30px;
}

.project {
    background-color: white;
    border-radius: 5px;
    border-left: 10px solid #cc8900;
}

#right-side {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    margin-left: 20px;
}

#announcements {
    grid-row: 1 / 2;
}

#announcements-container {
    background-color: white;
    width: 80%;
}

#trending {
    grid-row: 2 / 3;
}

#trending-container {
    background-color: white;
    width: 80%;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 10px;
}

#announcements-container, #trending-container {
    border-radius: 10px;
}

#input-container {
    display: flex;
    align-items: center;
    gap: 10px;
    padding-left: 60px;
}

#account-information {
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: center;
}

.small-box {
    width: 30px;
    height: 30px;
    border: 1px solid black;
}

.medium-box {
    width: 50px;
    height: 50px;
    border: 1px solid black;
}

.big-box {
    width: 80px;
    height: 80px;
    border: 1px solid black;
}

.sidebar-list {
    display: grid;
    align-self: start;
    justify-self: start;
    gap: 20px;
}

.sidebar-list li {
    display: flex;
    align-items: center;
    gap: 10px;
}

#dashboard-container {
    display: flex;
    gap: 10px;
    padding-left: 23px;
    align-items: center;
}

#hello-container {
    display: flex;
    gap: 10px;
    align-items: center;
    margin-left: 60px;
}